flake8==5.0.0
mccabe==0.7.0
pycodestyle==2.9.0
pyflakes==2.5.0
PyGithub==1.55
python-dotenv==0.20.0
vk==3.0
pymongo==4.2.0
dnspython==2.2.1
Flask==2.2.2
Babel==2.10.3
flask-babel==2.0.0
gunicorn==20.1.0
iuliia==0.11.5