<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot-Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-md w-lg-50 w-md-75 w-sm-100 w-xs-100">
        <span class="navbar-brand">BOT-CHECKER</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
        </div>
      </div>
    </nav>
    <div class="container mt-5 mb-5 w-lg-50 w-md-75 w-sm-100 w-xs-100">
      {% if completion_code %}
      <div class="row mt-5">
        <div class="col-12">
            <h3>{{ gettext('Thank you!') }}</h3>
            <p>{{ gettext('Here is your completion code: ') }}<b>{{completion_code}}</b></p>
        </div>
      </div>
      {% else %}
      <div class="row mt-5">
        <div class="col-12">
            <h3>{{ gettext('Justify your decisions') }}</h3>
            <p>{{ gettext('In the form below, please shortly describe which criteria you used to label users.') }}</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
            <form class="d-flex flex-column align-items-center">
              <textarea
                      class="form-control mb-4 shadow"
                      placeholder="{{ gettext('Enter an explanation') }}"
                      aria-label="ExplainDecisions"
                      id="explain_decisions"
                      name="explain_decisions"
                      maxlength="1000"
                      required
              ></textarea>
              <button class="btn btn-dark shadow">{{ gettext('SUBMIT AND GET COMPLETION CODE') }}</button>
            </form>
        </div>
      </div>
      {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>