<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot-Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-md w-lg-50 w-md-75 w-sm-100 w-xs-100">
        <span class="navbar-brand">BOT-CHECKER</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                  <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                </svg>
                {{ gettext('Language') }}
              </a>
              <ul class="dropdown-menu">
                {% for language in AVAILABLE_LANGUAGES.items() %}
                  <li><a
                          class="dropdown-item"
                          href="{{ url_for('set_language', language=language[0]) }}"
                  >{{ language[1] }}
                  </a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5 mb-5 w-lg-50 w-md-75 w-sm-100 w-xs-100">
      <div class="row mt-5">
        <div class="col-12">
           {% if not prolific_id %}
            <h3>{{ gettext('Enter your Prolific ID') }}</h3>
            <p>{{ gettext('Thank you for taking part in our data labelling. First, please enter your Prolific ID.') }}</p>
            <p>{{ gettext('After that, do not reload or close the page.') }}</p>
            <p>{{ gettext('If you see an error, please clear browser cookies and refresh the page.') }}</p>
          {% elif current_user %}
            <h3>{{ gettext('Label this user') }}</h3>
            {% if count == 0 %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
              <p><b>{{ gettext('Your task is to understand whether this VKontakte user is a social bot or a real human.') }}</b></p>
              <p>{{ gettext('Definitions:') }}</p>
              <ul>
                <li>{{ gettext('<b>Social bot</b> - a software agent that communicates autonomously on social media.
                  Bots are typically fake accounts with fake personalities.') }}</li>
                <li>{{ gettext('<b>Real human</b> - an account that belongs to a real person and is not managed automatically.') }}</li>
              </ul>
              <p>{{ gettext('Please inspect this user and their comments on VKontakte.') }}</p>
              <p>{{ gettext('For each user, you can see their VKontakte page by clicking ') }}"{{ gettext('Open VK page') }}".</p>
              <p>{{ gettext('For each comment, you can see the source comment and post by clicking ') }}"{{gettext('See original post and comment')}}".</p>
              <p>{{ gettext('After you make a decision:') }}</p>
              <ul>
                <li>{{ gettext('If you think this user is a bot, press the <b>"BOT" button</b>.') }}</li>
                <li>{{ gettext('If you think this user is a real human, press the <b>"HUMAN" button</b>.') }}</li>
              </ul>
              <p>{{ gettext('Normally, labelling each user should not take more than 5 minutes.') }}</p>
              <p>{{ gettext('<b>Scroll down</b> to see user info, comments and buttons.') }}</p>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          {% if not prolific_id %}
            <form class="d-flex" role="search">
              <input
                      class="form-control me-2 shadow"
                      placeholder="{{ gettext('Enter your Prolific user ID')}}"
                      aria-label="ProlificID"
                      id="prolific_id"
                      name="prolific_id"
                      required
              >
              <input type="hidden" id="prev_user_id" name="prev_user_id" value="-1">
              <button class="btn btn-dark shadow">{{ gettext('PROCEED') }}</button>
            </form>
          {% else %}
            <p class="text-secondary">
              {{ gettext('Your Prolific ID')}}: {{session['prolific_id']}}, {{ gettext('Left to label')}}: {{session['total_to_label']}}
            </p>
          {% endif %}
        </div>
      </div>
      {% if current_user %}
      <div class="row mt-3">
        <div class="col-12">
            <div class="card mt-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-xs-6 col-sm-8 col-md-9">
                    <div class="row">
                      <div class="col-3 mt-auto mb-auto">
                        <img src="{{current_user.photo_100}}" class="img-fluid rounded"/>
                      </div>
                      <div class="col-9 align-items-center mt-auto mb-auto">
                        <a href="https://vk.com/{{current_user.screen_name}}" target="_blank" class="link-dark text-decoration-none">
                          <h5 class="card-title">{{current_user.first_name}} {{current_user.last_name}}</h5>
                        </a>
                        {% if current_user.deactivated != "active" %}
                          <p class="card-text"><span class="badge bg-danger text-capitalize">{{current_user.deactivated}}</span></p>
                        {% else %}
                          <p class="card-text"><span class="badge bg-success">Active</span></p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="clearfix d-block d-sm-none mt-3"></div>
                  <div class="col-3 mt-auto mb-auto mr-auto">
                    <a href="https://vk.com/{{current_user.screen_name}}" class="btn btn-primary shadow me-auto" target="_blank" >
                      {{ gettext('Open VK page') }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12">
          {% for comment in comments %}
            {% if not comment.invalid and comment.text %}
              <div class="card mt-2">
                <div class="card-body">
                 <p>{{ comment.text }}</p>
                  <p class="text-secondary">{{comment.date}}</p>
                  {% if comment.media_id and comment.post_id %}
                    <a
                            href="https://vk.com/wall-{{comment.media_id}}_{{comment.post_id}}?reply={{comment.vk_id}}"
                            target="_blank"
                    >{{gettext('See original post and comment')}}</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
            <a
                    type="button"
                    class="d-flex justify-content-center align-items-center btn btn-outline-danger shadow"
                    href="labelling?prev_user_id={{count}}&prev_user_result=BOT"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
              </svg>
              <span class="ps-1">{{gettext('BOT')}}</span>
            </a>
        </div>
        <div class="col-6">
            <a
                    type="button"
                    class="d-flex justify-content-center align-items-center btn btn-outline-success shadow"
                    href="labelling?prev_user_id={{count}}&prev_user_result=HUMAN"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
              </svg>
              <span class="ps-1">{{gettext('HUMAN')}}</span>
            </a>
        </div>
      </div>

      {% endif %}
    </div>
    <script src=”https://code.jquery.com/jquery-3.6.0.slim.js”> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>