<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot-Checker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-md w-lg-50 w-md-75 w-sm-100 w-xs-100">
        <span class="navbar-brand">BOT-CHECKER</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                  <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
                </svg>
                {{ gettext('Language') }}
              </a>
              <ul class="dropdown-menu">
                {% for language in AVAILABLE_LANGUAGES.items() %}
                  <li><a
                          class="dropdown-item"
                          href="{{ url_for('set_language', language=language[0]) }}"
                  >{{ language[1] }}
                  </a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5 mb-5 w-lg-50 w-md-75 w-sm-100 w-xs-100">
      {% if completion_code %}
      <div class="row mt-5">
        <div class="col-12">
            <h3>{{ gettext('Thank you!') }}</h3>
            <p>{{ gettext('Here is your completion code: ') }}<b>{{completion_code}}</b></p>
        </div>
      </div>
      {% else %}
      <div class="row mt-5">
        <div class="col-12">
            <h3>{{ gettext('Justify your decisions') }}</h3>
            <p>{{ gettext('In the form below, please shortly describe which criteria you used to label users.') }}</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
            <form class="d-flex flex-column align-items-center">
              <textarea
                      class="form-control mb-4 shadow"
                      placeholder="{{ gettext('Enter an explanation') }}"
                      aria-label="ExplainDecisions"
                      id="explain_decisions"
                      name="explain_decisions"
                      maxlength="1000"
                      required
              ></textarea>
              <button class="btn btn-dark shadow">{{ gettext('SUBMIT AND GET COMPLETION CODE') }}</button>
            </form>
        </div>
      </div>
      {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>